<div class="main">
  <section class="display">
    <h3>
      Name: <span> {{ myAccount.fname }} {{ myAccount.lname }} </span>
    </h3>

    <h4>Phone Number: <span> (619) 990-1357 </span></h4>
    <div>
      <p>{{ display }}</p>
    </div>
    <div *ngIf="homescreen == true">
      <!-- Display: Customer information except for when inquiring about transaction -->
      <!-- <h4>
        Name: <span> {{ myAccount.fname }} {{ myAccount.lname }} </span>
      </h4> -->
      <p>
        Age: <span class="highlight">{{ myAccount.age }} </span>
      </p>
      <p>
        Address: <span class="highlight"> {{ myAccount.address.street }}</span>
      </p>
      <p>
        <span
          >{{ myAccount.address.city }}, {{ myAccount.address.state }}
          {{ myAccount.address.zip }}
        </span>
      </p>

      <br /><br />
    </div>
    <div *ngIf="transactionCompleted">
      <h2>Recent Transactions</h2>
      <p *ngFor="let transaction of myAccount.transactions | slice: 0:3">
        {{ transaction.date }}
        {{ transaction.type | uppercase }}
        {{ transaction.amount | currency }}
      </p>
    </div>
  </section>

  <aside class="options">
    <section class="balance"></section>
    <!-- Add functionality to the buttons below -->
    <ul class="options-list">
      <li>
        <h3 id="balance">
          CURRENT BALANCE:
          <span class="accent">
            {{ myAccount.balance | currency: "USD" }}
          </span>
        </h3>
      </li>
      <li class="options-item">
        <input
          type="number"
          [(ngModel)]="value"
          placeholder="Enter $ to deposit/withdraw"
        />
      </li>

      <li class="options-item">
        <button (click)="withdraw()" class="btn btn-info">
          Withdraw for Customer
        </button>
      </li>
      <li class="options-item">
        <button (click)="deposit()" class="btn btn-info">
          Deposit for Customer
        </button>
      </li>
      <li class="options-item">
        <button (click)="displayTransactions()" class="btn btn-info">
          Customer Transaction History
        </button>
      </li>
    </ul>
  </aside>
</div>
