<div class="main">
  <section class="display">
    <h3>
      <span class="highlight"> Welcome, {{ myAccount.fname | uppercase }}</span>
    </h3>
    <div>
      {{ display }}
    </div>
    <div *ngIf="transactionCompleted">
      <h2>Recent Transactions</h2>
      <p *ngFor="let transaction of myAccount.transactions | slice: 0:3">
        {{ transaction.date }}
        {{ transaction.type | uppercase }}
        {{ transaction.amount | currency }}
      </p>
    </div>
  </section>
  <aside class="options">
    <!-- Add functionality to the buttons below -->
    <ul class="options-list">
      <li>
        <input
          type="number"
          placeholder="Enter $ Amount to Deposit or Withdraw"
          [(ngModel)]="userInputValue"
        />
      </li>

      <li class="options-item">
        <button class="btn btn-info" (click)="withdraw()">Withdraw</button>
      </li>
      <li class="options-item">
        <button class="btn btn-info" (click)="deposit()">Deposit</button>
      </li>
      <li class="options-item">
        <button class="btn btn-info" (click)="getBalance()">
          Balance Inquiry
        </button>
      </li>
      <li class="options-item">
        <button class="btn btn-info" (click)="displayTransactions()">
          Transactions History
        </button>
      </li>
    </ul>
  </aside>
</div>
