<div class="fluid-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <!-- <ul class="nav">
    <li>
      <a class="btn active" routerLink="atm">ATM View</a>
    </li>
    <li>
      <a class="btn" routerLink="teller">Teller View</a>
    </li>
    <li>
      <a class="btn" routerLink="contact">Contact</a>
    </li>
  </ul> -->
  <!--  style="background-color: #e3f2fd;" -->
  <nav class="navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img
        src="/docs/4.5/assets/brand/bootstrap-solid.svg"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
        loading="lazy"
      />
      <span class="righteous">
        Bank of San Diego
      </span>
    </a>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" routerLink="atm">ATM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="teller">TELLER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">CONTACT</a>
      </li>
    </ul>
  </nav>
</div>
