.navbar {
  display: flex;
  flex-direction: column;
  height: 20vh;

  /* background: #ba1200; */
  /* color: white; */
  justify-content: space-between;
  align-items: center;
}
body {
  height: 100vh;
}
router-outlet {
}
