/* You can add global styles to this file, and also import other style files */
body {
}
.router-outlet {
  height: 80vh;
}

button,
input {
  width: 400px;
  margin: 10px;
}
input {
  padding: 10px;
}

span {
  color: #7ebdc2;
  text-transform: uppercase;
  font-weight: bolder;
}

.display {
  padding: 20px;
}
