/* You can add global styles to this file, and also import other style files */
body {
  padding: 1rem 3rem;
}

button,
input {
  width: 400px;
  margin: 10px;
}
input {
  padding: 10px;
}
/* button {
    padding: 10px 25px;
    width:300px;
    margin:10px 30px;
    width: 100%;
} */

span {
  color: #7ebdc2;
  text-transform: uppercase;
  font-weight: bolder;
}

.display {
  padding: 20px;
}
